<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar {
    background: blue;
  }

  body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: #fff;
    padding: 50px 0;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .container * {
    box-sizing: border-box;
  }

  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }

  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }

  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;
  }

  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }

  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }

  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }

  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .flex-outer li p {
    margin: 0;
  }

  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }

  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  .flex-inner li {
    width: 100px;
  }

  .button {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 2px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
  }

  .button:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
  }

  .button:active {
    position: relative;
    top: 1px;
  }

  .navbar {
    min-height: 4vw;
    color: white;
    font-size: 1vw;
  }

  table {
    width: 100%;
  }
  select{
    height: 2vw;
  }


</style>

<!-- Toolbar -->
<div class="toolbar navbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Administracion de tareas</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <h2>Formulario para el ingreso de tareas</h2>
  <ul class="flex-outer">
    <li>
      <label for="first-name">Nombre</label>
      <input type="text" id="first-name" [(ngModel)]="formData.nombre" placeholder="Ingrese nombre">
    </li>
    <li>
      <label for="last-name">Descripcion</label>
      <input type="text" id="last-name" [(ngModel)]="formData.descripcion" placeholder="Ingrese la descripcion">
    </li>
    <li>
      <label for="fecha">Fecha de expiracion</label>
      <input type="text" id="fecha" [(ngModel)]="formData.expira" placeholder="Ingrese fecha de expiracion">
    </li>
    <li>
      <label>¿La tarea se encuentra terminada?</label>
      <select [(ngModel)]="formData.terminada">
        <option value="1">SI</option>
        <option value="0">NO</option>
      </select>
    </li>
    <li>
      <label for="titulo">Ingrese un titulo para la tarea</label>
      <input type="text" id="titulo" [(ngModel)]="formData.titulo" placeholder="Ingrese titulo">
    </li>
    <li>
      <button *ngIf="!isUpdate" (click)="pushData()">Guardar informacion</button>
      <button *ngIf="isUpdate" (click)="updateData()">Guardar informacion</button>
    </li>
  </ul>

  <div class="">
    <h2>Listado de tareas</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>TITULO</th>
        <th>DESCRIPCION</th>
        <th>TERMINADA</th>
        <th>EXPIRA</th>
        <th>NOMBRE</th>
        <th>ACCIONES</th>
      </tr>
      </thead>
      <tbody *ngIf="arrayData.length>0">
      <tr *ngFor="let item of arrayData">
        <td *ngIf="item != null">{{item.titulo}}</td>
        <td *ngIf="item != null">{{item.descripcion}}</td>
        <td *ngIf="item != null">{{(parserNumber(item.terminada) == 0) ? 'NO' : 'SI'}}</td>
        <td *ngIf="item != null">{{item.expira}}</td>
        <td *ngIf="item != null">{{item.nombre}}</td>
        <td *ngIf="item != null">
          <button class="button" (click)="setData(item.id)">editar</button>
          <button class="button" (click)="deleteData(item.id)">eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


<router-outlet></router-outlet>
